*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
h1,h2,h3,h4,h5{
    color: #035755;
}
img{
    width: 100%;
}
.nav-section{
    background: rgba(255, 255, 255, 0);
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.logo-nav{
    width: 180px;
}
.flx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.nav-list{
    display: flex;
    align-items:center ;
}
.nav-item{
    margin-left: 35px;
}
.nav-link{
    font-size: 18px;
    color: #035755;

}
.nav-link:hover{
    text-decoration: underline;
}
.toch{
    color: #FB4C47;
}
.cont{
    color: #FB4C47;
    border: 2px solid #FB4C47;
    border-radius:46px ;
    padding: 16px 40px;
    transition: 0.5s;
}
.cont:hover{
    background: #fb4c47;
    color: #fff;
    text-decoration: none;
}
.alert-section{
    padding: 260px 0;
    background:rgba(255, 255, 255, 0) ;
    background-image: url("../img/sitting-down.png");
    background-position: center right;
    background-repeat: no-repeat;
   background-size: 60%;
    
}
.stay-h{
    font-size:  40px ;
    width: 480px;
    line-height: 45px;
    color: #035755;  
    font-weight: bold;
    margin-bottom: 30px;
}
.stay-p{
    width: 490px;
    line-height: 27px;
    margin-bottom: 50px;
    color: #4B4F51;
    font-size: 20px;
}
.alert-h1{
    margin-bottom: 20px;
    font-size: 25px;
    color: #FB4C47;
    width: 233px;
}
.let-link{
    border: 2px solid #fb4c47;
    color: #fff;
    border-radius: 87px;
    background:#fb4c47;
    padding: 16px 30px;
    font-size: 20px;
    transition: 0.5s;
}
p{
    color: #4B4F51;
}
.let-link:hover{
    color: #FB4C47;
    background: #fff;
}
.virus-h2{
    margin-bottom: 15px;
    font-size: 25px;
    color: #FB4C47;
    width: 233px;
}
.virus-h3{
    font-size:  40px ;
    line-height: 45px;
    color: #035755;  
    font-weight: bold;
    margin-bottom: 10px;
    width: 250px;
}
.virus-p{
   
    width: 600px;
    line-height: 35px;
    margin-bottom: 50px;
    color: #4B4F51;
    font-size: 20px;
}
.virus-link{
    background: rgba(250, 86, 82, 0.15);
    color:#FB4C47;
    padding: 16px 30px;
    border-radius: 65px;
    font-size: 20px;
    transition: 0.5s;
}
.virus-link:hover{
    color: #fff;
    background: #fb4c47;
}
.virus-section{
    position: relative;
    background-image: url("../img/colorful-viruses.png");
   
    background-size:50%;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 120px 0;
}
.virus-section .container{
  margin-left: 39%;
  margin-right: 0;
  width: 600px;
  padding-left: 200px;
  
}
.cont-item img{
    width: 265px;
    margin-bottom: 20px;
}
.cont-list{
    display: flex;
    justify-content: space-around;
 
}
.cont-item{
    text-align: center;
    background: #fff;
    box-shadow:0px 0px 20px 5px
    #e6dce6 ;
    width: 415px;
    margin-left: 25px;
    padding-bottom: 40px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.5s;
   
}
.virus-cont{
    position: absolute;
    width: 255px;
    top: 445px;
    left: -20;
}
.cont-section{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.cont-ph{
    margin-top: 32px;
}
.cont-section .container{
    text-align: center;
    
}
.cont-covid{
    color: #FB4C47;
    margin-bottom: 10px;
}
.cont-header{
    font-size:  40px ;
    margin-bottom: 20px;
}
.cont-p{
    line-height: 35px;
    margin: 0 auto;
    width: 550px;
    font-size: 18px;
    margin-bottom: 60px;
}
.cont-item:hover{
    border-bottom: 4px solid #fb4c47;
    transform: scale(1.02);
}
.air-p{
    width: 350px;
    margin: 0 auto;
    line-height: 30px;
}
.air-header{
    margin-bottom: 15px;
}
.sym-section .container{
    text-align: center;
    background-image: url("../img/ill-girl.png");
    background-position: center center;
    background-repeat: no-repeat;
    padding: 100px 0;
    padding-bottom: 1200px;
}