*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
}
.nav-section{
    background: #FFF8F8;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.logo-nav{
    width: 180px;
}
.flx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.nav-list{
    display: flex;
    align-items:center ;
}
.nav-item{
    margin-left: 35px;
}
.nav-link{
    font-size: 18px;
    color: #035755;

}
.nav-link:hover{
    text-decoration: underline;
}
.toch{
    color: #FB4C47;
}
.cont{
    color: #FB4C47;
    border: 2px solid #FB4C47;
    border-radius:46px ;
    padding: 16px 40px;
    transition: 0.5s;
}
.cont:hover{
    background: #fb4c47;
    color: #fff;
    text-decoration: none;
}
.alert-section{
    padding: 260px 0;
    background:#FFF8F8 ;
    background-image: url("../img/sitting-down.png");
    background-position: center right;
    background-repeat: no-repeat;
   background-size: 60%;
    
}
.stay-h{
    font-size:  40px ;
    width: 480px;
    line-height: 45px;
    color: #035755;  
    font-weight: bold;
    margin-bottom: 30px;
}
.stay-p{
    width: 490px;
    line-height: 27px;
    margin-bottom: 50px;
    color: #4B4F51;
    font-size: 20px;
}
.alert-h1{
    margin-bottom: 20px;
    font-size: 25px;
    color: #FB4C47;
    width: 233px;
}
.let-link{
    color: #fff;
    border-radius: 87px;
    background:#fb4c47;
    padding: 16px 30px;
    font-size: 24px;
}